.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.idea/gradle.xml
build/intermediates/model_data.bin
.idea/libraries/otto_1_3_5.xml
build/intermediates/dex-cache/cache.xml
.idea/runConfigurations.xml
build/intermediates/gradle_project_sync_data.bin
.idea/misc.xml
.idea/
TINAPA/TINAPA-TINAPA.iml
